{%extends 'home/base.html'%}
{% load bootstrap3 %}
{% block content %}
{{block.super}}
<div class="container">
    {% for bio_item in bios %}



    <div class="row">

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <h2 class="text-center"> {{ bio_item.name }} </h2>
            <h2 class="text-center"> {{ bio_item.bio }} </h2>
        </div>

        <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
            <img src="{{bio_item.profile_image.url}}" class="img-responsive" alt="Image">
        </div>

    </div>



    {% empty %}
    <div class="row">
        <h2 class="text-center">There No post Items</h2>
    </div>
    {% endfor %}

</div>

{%endblock%