{%extends 'home/base.html'%}
{% load bootstrap3 %}
{% block content %}
{{ block.super}}

<div class="container-fluid modal-dialog" role="document" style="width: fit;">

    <!-- <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">{{profile_item.name}}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
    </div> -->

    <div class="modal-body">

         <section class="gallery-block compact-gallery">
            <div class="container">
                <div class="row modal-body  no-gutters">
                    {% for profile_item in profile %}
                    <div class="col-md-12 col-lg-6  item zoom-on-hover">

                        <a class="lightbox" href=""
                            data-caption="{{profile_item.image_caption}}: {{profile_item.likes}}"
                            {{profile_item.comments}}{{profile_item.name}}>
                            <span class="img-fluid">
                                <p style="display: flex; border-radius: 10px;"> <img
                                        class="card-img-top img-fluid image" class="img-responsive"
                                        src="{{profile_item.image.url}}"
                                          style="border-radius: 10px;height:20vh;width:20vh;"></p>
                                <p>{{profile_item.name}}"</p>
                                <p>{{profile_item.comments}}
                            </span> </p>
                            <br> <span class="description-body">{{profile_item.image_caption}}</span>

                            {{profile_item.comments}}

                            <div style="display: flex;">
                                <p class="description-body"><span class="badge">




                                    </span>
                                    <!-- <button onclick="copyToClipboard('post_item{{post_item.id}}')" -->
                                    <!-- class="btn no-border text-white"><i class="far fa-copy"></i></button> -->
                            </div>
                            <!-- <small style="font-size: 12px; float:right" class="ml-45"><i class="far fa-clock"></i> {{post_item.post_date | timesince}} ago</small> -->
                            </span>
                        </a>





                    </div>
                    {%endfor%}
                </div>
            </div>
        </section>

    </div>



</div>



<div class="container">

    <form action="{%url 'profileToday'%}" method="post">
        {%csrf_token%}

        {% bootstrap_form letterForm layout='inline' %}
        <input type="submit" value="Register">

    </form>
</div>


{% endblock %}